.card-layout{
    background-color:#ffffff;
    // border: 1px solid red;
   // height:200px;
    margin-left: 10px;
    display: flex;
   // max-width: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.responsive {
    max-width: 100%;
  height: 166px;
}
.card-subhead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}