.filter-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.horizontal-line{
    border: 0.13rem solid #eff2fb;
    width: 85%;
}
.filter-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 0.5rem;
    padding: 0.5rem;
}
.filter-icons{
    width: 3.5rem;
    height: 1.5rem;
    background-color:#adff2f;
    margin-bottom:1rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@media only screen and (min-width: 1440px){
    .filter-data{
        width: 75%;
    }
}
@media only screen and (min-width:250px) and (max-width: 350px){
    .filter-data{
        width: 60%;
    }
    .horizontal-line{
        width: 50%;
    }
}

@media only screen and (min-width:350px) and (max-width: 450px){
    .filter-data{
        width: 40%;
    }
    .horizontal-line{
        width: 50%;
    }
}
.filterApplied{
    background-color:#32cd32;
}