:host{
    .wrapper-box{
        display: flex;
        flex-direction: column;
    }
    .welcome-text{
        font-size: 2rem;
        font-weight: bold;
    }
    .container-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 1rem;
    }
    .filter-section{
        flex:30%;
        background-color:#ffffff;
        margin-right: 1rem;
        
    }
    .result-section{
        flex:70%;
        height: 300px;
        display: flex;
        flex-direction: row;
        //padding: 10px;
    }.card-display{
        flex-basis: calc(100% / 4);
        flex-shrink: 0;

    }
    @media only screen and (max-width: 700px){
        .container-section{
            flex-direction: column;
        }
        .filter-section{
            margin-right: 0px;
            flex: 1;
            width: 100%;
        }
        .result-section{
            flex: 1;
            flex-direction: column;
        }
        .card-display{
            flex-basis: calc(100% / 1);
        flex-shrink: 0;
       // padding: 0;
        }
    }
}
