:host{
    .wrapper-box{
        display: flex;
        flex-direction: column;
        max-width: 1440px;
    }
    .welcome-text{
        font-size: 2rem;
        font-weight: bold;
    }
    .container-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        padding-top: 1rem;
    }
    .filter-section{
        flex:1.5;
        background-color:#ffffff;
        margin-right: 1rem;
       // max-height: 500px;
       height: fit-content;
        
    }
    .result-section{
        flex:8.5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        //padding: 10px;
    }.card-display{
        flex-basis: calc(100% / 4);
        -webkit-flex-basis:calc(100% / 4);
        flex-shrink: 0;
        margin-bottom: 1rem;

    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    @media only screen and (max-width: 700px){
        .container-section{
            flex-direction: column;
        }
        .filter-section{
            margin-right: 0px;
            flex: 1;
            width: 100%;
        }
        .result-section{
            flex: 1;
            flex-direction: column;
            margin-top: 1rem;
        }
        .card-display{
            flex-basis: calc(100% / 1);
            flex-shrink: 0;
            -webkit-flex-basis: calc(100% / 1);
        }
    }
    @media only screen and (min-width: 700px) and (max-width: 1024px){
        .card-display{
            flex-basis: calc(100% / 2);
            flex-shrink: 0;
            
        }
        .filter-section{
            flex:3;
        }
    }
    @media only screen and (min-width: 1440px){
        .wrapper-box{
            align-items: center;
            justify-content: center;
            margin: auto;
        }
    }
    
    // .placeholder{
    //     margin: 0 auto;
    //     max-width:500px;
    //     min-height: 300px;
    //     background-color: #eee;
    // }
    // .animated-background{
    //     animation-duration: 1.25s;
    //     animation-fill-mode: forwards;
    //     animation-iteration-count: infinite;
    //     animation-name: placeholderResult;
    //     animation-timing-function: linear;
    //     background: darkgray;
    //     background: linear-gradient(to right,#eee 10%, #ddd 18%,#eee 33%);
    //     height: 300px;
    //     position: relative;
    // }
    // @keyframes placeholderResult {
    //     0%{
    //         background-position: -468px 0;
    //     }
    //     100%{
    //         background-position: 468px 0;
    //     }
    // }
}
