<div class="wrapper-box">
    <div class="welcome-text">
        {{'SpaceX Launch Programs'}}
    </div>
    <div class="container-section">
        <div class="filter-section">
            <app-filter (filterApplied)="applyFilters($event)"></app-filter>
        </div>

        <div class="result-section">
                <div *ngFor="let data of cardData" class="card-display">
                    <app-card [cardData]="data"></app-card>
                </div>
            <!-- <ng-template #loaderTemplate>
                <div class="placeholder">
                 <div class="animated-background">

                 </div>
                </div>
            </ng-template> -->
        </div>
    </div>
    <div class="footer">
      <div>
          <span style="font-weight: bold;">
            {{'Developed by:'}}
          </span>
          <span>
              {{'Avinash Singh'}}
          </span>
      </div>
    </div>
</div>