<div class="wrapper-box">
    <div class="welcome-text">
        {{'SpaceX Launch Programs'}}
    </div>
    <div class="container-section">
        <div class="filter-section">
            <app-filter (filterApplied)="applyFilters($event)" [activeTab]="activeTab"></app-filter>
        </div>

        <div class="result-section">
            <ng-container *ngIf="cardData && cardData.length<0;else loaderTemplate">
                <div *ngFor="let data of cardData" class="card-display">
                    <app-card [cardData]="data"></app-card>
                </div>
            </ng-container>
                
            <ng-template #loaderTemplate>
                <div style="width:500px;display:flex; align-items:center;justify-content:center;margin: auto;">
                 <div class="cover-spin">
                 </div>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="footer">
      <div>
          <span style="font-weight: bold;">
            {{'Developed by:'}}
          </span>
          <span>
              {{'Avinash Singh'}}
          </span>
      </div>
    </div>
</div>